.DS_Store
node_modules/
mcp_servers/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
.continue
*.suo
*.ntvs*
*.njsproj
*.sln
